/* Working on the whole body */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-class {
  font-family: "Quicksand", serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #05d4df;
}

/* .container {
  width: 100%;
  justify-content: center;
  background-color: lightblue;
} */

/* Working on Navbar */
.nav-con {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hr {
  border: 0;
  height: 1px;
  background-color: orange;
  display: none;
} */

.display-flex {
  display: flex;
}

nav .nav-middle {
  /* width: 34vw;
  justify-content: space-between; */
  gap: 3vw;
  font-size: 1.25rem;
  font-weight: 500;
}

nav .nav-middle a {
  text-decoration: none;
}

.nav-middle-1 {
  font-weight: bold;
  color: #fea301;
}

.nav-middle-2 {
  color: #01acfd;
}

.nav-middle-3 {
  color: #05d4df;
}

.nav-middle-4 {
  color: #5d58ef;
}

.logo h2 {
  font-weight: bold;
  font-size: 2rem;
}

.logo {
  align-items: center;
  gap: 10px;
}

.hidden-btn {
  display: none;
  font-size: 2rem;
}

/* .hidden-btn button {
  font-size: 2rem;
  background-color: white;
  border: none;
} */

nav .nav-button {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* box-sizing: border-box; */
  border-radius: 12px;
  background-color: #fea301;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  border: none;
}

.btn-contact {
  width: 15%;
  height: 60%;
}

@media screen and (max-width: 700px) {
  .btn-contact,
  .nav-middle,
  #a1 {
    display: none;
  }

  .hidden-btn {
    display: block;
  }

  /* .hidden-btn {
    display: inline-block;
    cursor: pointer;
  }

  #toggle:checked + .nav-middle {
    display: block;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100px;
  } */

  /* .hidden-btn:hover > .nav-middle {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100px;
  } */

  /* hr {
    display: block;
  } */

  /* .nav-middle {
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 100px;
  } */
  nav {
    border: 1px solid orange;
  }
}

/* Ending the navbar */

/* Banner */

.banner {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  gap: 8vw;
}

.banner h3 {
  font-size: 3.5rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.25rem;
}

.enroll-btn {
  width: 197px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}

#a2 {
  color: orange;
}

#a3 {
  color: #01acfd;
}

@media screen and (max-width: 700px) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
}

/* Ending Banner */

/* curriculum */

.curriculum {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}

.cir-box {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  width: 32%;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 18.86px;
  background-image: linear-gradient(
    to bottom,
    #def5ff,
    white,
    white,
    white,
    white
  );
  border: 1px solid #def5ff;
}

.cir-box h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cir-box p {
  font-size: 0.92rem;
  font-weight: 500;
  color: #808080;
}

.cir-box a {
  font-size: 0.92rem;
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.cir-middle {
  justify-content: space-between;
}

.curriculum {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.curriculum h3 {
  font-size: 3rem;
  font-weight: bold;
}

.cir-btn {
  width: 60px;
  height: 60px;
  background-color: orange;
  border-radius: 50%;
  font-weight: 800;
  font-size: 24px;
  border: none;
  color: white;
  margin-left: 20px;
}

/* Ending curriculum */
