/* Working on the whole body */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand-class {
  font-family: "Quicksand", serif;
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
}

#a7 {
  color: orange;
}

/* .container {
  width: 100%;
  justify-content: center;
  background-color: lightblue;
} */

/* Working on Navbar */
.nav-con {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hr {
  border: 0;
  height: 1px;
  background-color: orange;
  display: none;
} */

.display-flex {
  display: flex;
}

nav .nav-middle {
  /* width: 34vw;
  justify-content: space-between; */
  gap: 3vw;
  font-size: 1.25rem;
  font-weight: 500;
}

nav .nav-middle a {
  text-decoration: none;
}

.nav-middle-1 {
  font-weight: bold;
  color: #fea301;
}

.nav-middle-2 {
  color: #01acfd;
}

.nav-middle-3 {
  color: #05d4df;
}

.nav-middle-4 {
  color: #5d58ef;
}

.logo h2 {
  font-weight: bold;
  font-size: 2rem;
}

.logo {
  align-items: center;
  gap: 10px;
}

.hidden-btn {
  display: none;
  font-size: 2rem;
}

.hidden-btn button {
  font-size: 2rem;
  background-color: white;
  border: none;
}

nav .nav-button {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* box-sizing: border-box; */
  border-radius: 12px;
  background-color: #fea301;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  border: none;
}

.btn-contact {
  width: 15%;
  height: 60%;
}

@media screen and (max-width: 700px) {
  .btn-contact,
  .nav-middle,
  #a1 {
    display: none;
  }

  .hidden-btn {
    display: block;
  }

  nav {
    border: 1px solid orange;
  }
}

/* Ending the navbar */

/* Banner */

.banner {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  gap: 8vw;
  margin-bottom: 60px;
}

.banner-l {
  flex-direction: column;
  gap: 30px;
}

.banner h3 {
  font-size: 3.5rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.25rem;
}

.enroll-btn {
  width: 197px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}

#a2 {
  color: orange;
}

#a3 {
  color: #01acfd;
}

@media screen and (max-width: 700px) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-l {
    align-items: center;
  }
  /* .ban-img {
    display: flex;
    justify-content: center;
    width: 100%;
  } */

  .ban-img img {
    width: 100%;
  }
}

/* Ending Banner */

/* curriculum */

.curriculum {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 60px;
  background-image: url("../assets/bg.png");
}

.cir-box {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 480px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 18.86px;
  gap: 30px;
  box-sizing: border-box;
}

#box-1 {
  background-image: linear-gradient(
    to bottom,
    #def5ff,
    white,
    white,
    white,
    white
  );
  border: 2px solid #def5ff;
}

#box-1 a {
  color: #64c8ff;
}

#box-2 {
  background-image: linear-gradient(
    to bottom,
    #fff4dc,
    white,
    white,
    white,
    white
  );
  border: 2px solid #fff4dc;
}

#box-2 a {
  color: #f0aa00;
}

#box-3 {
  background-image: linear-gradient(
    to bottom,
    #f2e8ff,
    white,
    white,
    white,
    white
  );
  border: 2px solid #f2e8ff;
}

#box-3 a {
  color: #8700ff;
}

.cir-box h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cir-box p {
  font-family: "Raleway", serif;
  font-size: 0.92rem;
  font-weight: 500;
  color: #808080;
}

.cir-box a {
  font-size: 0.92rem;
  font-weight: bold;
  text-decoration: none;
}

.cir-middle {
  justify-content: space-between;
}

.curriculum {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.curriculum h3 {
  font-size: 2.875rem;
  font-weight: bold;
}

.cir-btn {
  width: 60px;
  height: 60px;
  background-color: orange;
  border-radius: 50%;
  font-weight: 800;
  font-size: 24px;
  border: none;
  color: white;
  margin-left: 20px;
}

@media screen and (max-width: 700px) {
  .cir-middle {
    flex-direction: column;
    gap: 20px;
  }
  .cir-box {
    width: auto;
  }

  .cir-btn {
    display: none;
  }
}

/* Ending curriculum */

/* story */

.inside-story {
  width: 90%;
  margin: 60px auto 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  gap: 80px;
  background-image: url("../assets/bg.png");
}

.inside-story h3 {
  font-size: 2.875rem;
  font-weight: bold;
}

.story-img {
  display: flex;
  height: 730px;
  justify-content: space-between;
}

.img-1 {
  width: 43%;
  height: 100%;
  background-color: white;
  border-radius: 16px;
  position: relative;
}

.img-1 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 30px 30px;
  box-sizing: border-box;
}
.img-1 p {
  font-family: "Raleway", serif;
  font-size: 0.95rem;
  color: #666666;
  padding: 30px 30px;
  box-sizing: border-box;
}

.img-rest {
  width: 55%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 20px;
}

.img-1 img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#a6 {
  position: absolute;
  top: calc(50% - 23.5px);
  left: 3vw;
  /* z-index: 2; */
  background-color: #3cd8e8;
  /* width: 33%; */
  height: 47px;
  padding: 0px 1vw;
  border-radius: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  font-size: 0.95rem;
}

.img-r {
  height: 100%;
  border-radius: 16px;
  background-color: white;
  position: relative;
}

.float-bar {
  position: absolute;
  /* width: auto; */
  height: 38px;
  padding: 0px 1vw;
  background-color: #01acfd;
  border-radius: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(60% - 19px);
  left: 1vw;
  font-weight: 500;
  color: white;
  font-size: 0.95rem;
  box-sizing: border-box;
}

.img-r img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.img-r p {
  font-size: 0.95rem;
  font-weight: bold;
  margin: 30px;
}

.story {
  background-image: linear-gradient(to top, #f6dbab, white);
}

.story button {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .img-1 {
    display: none;
  }

  .img-rest {
    width: auto;
  }
  /* .float-bar {
    left: 5%;
  } */

  .curriculum h3 {
    font-size: 2rem;
  }
}

/* ending Story */

/* Footer */

footer {
  background-color: #01acfd;
}
.footer-info {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 175px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-logo {
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.footer-r {
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  font-size: 1.625rem;
  font-weight: bold;
  color: white;
}

.footer-m {
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}

.footer-l {
  align-items: center;
}

.footer-ll {
  flex-direction: column;
  /* justify-content: center; */
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  gap: 30px;
}

#a5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.fot-txt {
  font-size: 2.64rem;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 700px) {
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .footer-m {
    margin: 0;
  }

  .footer-r {
    align-items: flex-start;
  }
}
